<div class="feature">
  <div class="feature-inner">
    <div class="feature-header mb-16">
      <div class="feature-icon mr-16">
        <svg width="32" height="32">
          <use href="/static/svg/sprites.svg#{{ feature_icon }}"></use>
        </svg>
      </div>
      <h4 class="feature-title m-0">{{ feature_title }}</h4>
    </div>
    <p class="text-sm mb-0">{{ feature_description }}</p>
  </div>
</div>
