<div class="footer-bg">
  <svg width="385" height="305">
    <use href="/static/svg/sprites.svg#footer-bg-1"></use>
  </svg>
</div>
<div class="footer-dots is-moving-object is-translating" data-translating-factor="160">
  <svg width="69" height="91">
    <use href="/static/svg/sprites.svg#footer-dots-1"></use>
  </svg>
</div>
