<div class="hero-illustration">
  <div class="hero-bg">
    <svg width="720" height="635">
      <use
      	href="/static/svg/sprites.svg#hero-bg"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-1 is-moving-object is-rotating"
  >
    <svg width="220" height="220">
      <use
      	href="/static/svg/sprites.svg#hero-square-1"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-2 is-moving-object is-rotating"
  >
    <svg width="88" height="88">
      <use
      	href="/static/svg/sprites.svg#hero-square-2"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-3 is-moving-object is-rotating"
  >
    <svg width="64" height="64">
      <use
      	href="/static/svg/sprites.svg#hero-square-3"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-4 is-moving-object is-rotating"
  >
    <svg width="320" height="320">
      <use
      	href="/static/svg/sprites.svg#hero-square-4"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-5 is-moving-object is-rotating"
  >
    <svg width="141" height="140">
      <use
      	href="/static/svg/sprites.svg#hero-square-5"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-6 is-moving-object is-rotating"
  >
    <svg width="128" height="128">
      <use
      	href="/static/svg/sprites.svg#hero-square-6"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-7 is-moving-object is-rotating"
  >
    <svg width="64" height="64">
      <use
      	href="/static/svg/sprites.svg#hero-square-7"
      ></use>
    </svg>
  </div>
  <div
    class="hero-square hero-square-8 is-moving-object is-rotating"
  >
    <svg width="40" height="40">
      <use
      	href="/static/svg/sprites.svg#hero-square-8"
      ></use>
    </svg>
  </div>
  <div
    class="hero-dots hero-dots-1 is-moving-object is-translating"
    data-translating-factor="160"
  >
    <svg width="279" height="97">
      <use
      	href="/static/svg/sprites.svg#hero-dots-1"
      ></use>
    </svg>
  </div>
  <div
    class="hero-dots hero-dots-2 is-moving-object is-translating"
    data-translating-factor="120"
  >
    <svg width="138" height="132">
      <use
      	href="/static/svg/sprites.svg#hero-dots-2"
      ></use>
    </svg>
  </div>
  <div
    class="hero-dots hero-dots-3 is-moving-object is-translating"
    data-translating-factor="160"
  >
    <svg width="98" height="59">
      <use
      	href="/static/svg/sprites.svg#hero-dots-3"
      ></use>
    </svg>
  </div>
  <div class="hero-line hero-line-1">
    <svg width="344" height="217">
      <use
      	href="/static/svg/sprites.svg#hero-line-1"
      ></use>
    </svg>
  </div>
</div>
