<div class="container">
  <div class="site-footer-inner has-top-divider">
    <div class="footer-copyright">&copy; 2025 MinuteZero, all rights reserved.</div>

    <div>
      <a href="https://www.linkedin.com/in/firstname/" target="_blank" rel="noopener noreferrer"
        >Contact Us
        <svg class="icon-new-tab" aria-hidden="true">
          <use href="/static/svg/sprites.svg#new-tab"></use>
        </svg>
      </a>
      &nbsp;|&nbsp;
      {% comment %} <a href="/privacy/">Privacy</a> {% endcomment %}
    </div>

    {% include 'partials/footer-social.liquid' %}
  </div>
</div>
