<div class="container">
  <div class="site-header-inner">
    <div class="brand header-brand">
      <h1 class="m-0">
        <a href="/">
          <svg width="21" height="21">
            <use
              href="/static/svg/sprites.svg#logo-icon"
            ></use>
          </svg>
          <span class="minute">Site</span><span class="zero">Name</span>
        </a>
      </h1>
    </div>
    <nav class="header-nav">
      <ul class="list-reset header-links">
        <li>
          <a href="/case-studies/">Case Studies</a>
        </li>
        {% comment %}
          <li>
            <a href="/privacy/">Privacy</a>
          </li>
        {% endcomment %}
      </ul>
    </nav>
  </div>
</div>
